spring-beans/src/test/resources/com/sjr/test/bean/AdvProp.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			xmlns="https://onew.me/schema/adv"
			targetNamespace="https://onew.me/schema/adv" elementFormDefault="qualified">
	<xsd:element name="AdvProp">
		<xsd:complexType>
			<xsd:attribute name="name" type="xsd:string" />
			<xsd:attribute name="age" type="xsd:string" />
		</xsd:complexType>
	</xsd:element>

</xsd:schema>